// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//
header{
  background:#08772d;
}
.top-bar {
  background: #08772d !important;
}
.top-links {
  background: #075421;
}
.button {
  background: #08772d;
}
.button:hover, .button:focus {
  background-color: #075421;
}
.home-page h3.title, .custom-page h3.title {
  border-top: 4px solid #08772d;
}
a {
    color: #075421;
}
.locale-form .locale-switcher {
  background: #08772d;
}

.jumbo, .home-page .background-header, .custom-page .background-header{
  background: #A8FFA8;
}

@media print, screen and (min-width: 40em){
  .subnavigation a.is-active {
    border-bottom: 2px solid #08772d;
    color: #075421;
  } 
}

@media print, screen and (min-width: 40em) {
  /* line 708, app/assets/stylesheets/layout.scss */
  .subnavigation a {
    color: #222;
    display: block;
    font-weight: bold;
    width: auto;
  }
  /* line 722, app/assets/stylesheets/layout.scss */
  .subnavigation a:hover {
    color: #08772d;
  }
}
