// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//
header{
  background:#08772d;
}
.top-bar {
  background: #08772d !important;
}
.top-links {
  background: #075421;
}
.button {
  background: #08772d;
}
.home-page h3.title, .custom-page h3.title {
  border-top: 4px solid #08772d;
}
a {
    color: #075421;
}